<!--
    templateType: email
    isAvailableForNewContent: true
    isEnabledForEmailV3Rendering: true
-->
{% extends '/email/email_static/base.html' %}

{% block email-body %}
    {% module "module_Preheading" path="/email/email_modules/preheader", label="Preheading" %}  
    {% include '/email/email_static/header.html' %}
    {% module "module_Image" path="/email/email_modules/image", label="Image" %}  
    {% module "module_RichText" path="/email/email_modules/richText", label="Rich Text" %}  
    {% module "module_button" path="/email/email_modules/button", label="Link" %}  
    {% module "module_CTA" path="/email/email_modules/CTA", label="CTA" %}  
    {% include '/email/email_static/footer.html' %}    
{% endblock %}